!!!
%html
  %head
    %title Joel Longtine : Truth Seeker, Software Engineer
    / = stylesheet_link_tag    "application"
    / = javascript_include_tag "application"
    / = csrf_meta_tags
    %link{:rel=>"shortcut icon", :href=>"/images/joel-beard.ico"}
    
    %script{:src => "http://use.typekit.com/hli7acj.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8342775-1']);
      _gaq.push(['_setDomainName', 'joellongtine.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
        
  %body
    / %header
    /   %ul
    /     %li
    /       = link_to "Home", home_path
    /     %li
    /       = link_to "Blog", blog_path
    #container
      %header
        #user
          - if @user
            = @user.name
      {{ content }}
      #connect
        %ul
          %li
            %a{href: "http://twitter.com/jlongtine"}
              %img{src: "/images/twitter.png", alt: "twitter"}
          %li
            %a{href: "http://facebook.com/joellongtine"}
              %img{src: "/images/facebook.png", alt: "facebook"}
          %li
            %a{href: "http://www.linkedin.com/in/joellongtine"}
              %img{src: "/images/linkedin.png", alt: "linkedin"}
          %li
            %a{href: "mailto:thoughts@joellongtine.com"}
              %img{src: "/images/mail.png", alt: "email"}